## global variables used by the project
#parse ("serviceMapping.vm")
#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
## map the serviceId to service package and service client class name
#set ( $servicePackage = $service)
#set( $serviceClientPrefix = $serviceMapping[$service])
#set ( $serviceClientVariable = $serviceClientPrefix.substring(0,1).toLowerCase() + $serviceClientPrefix.substring(1))
#set( $regionEnum = $region.replace("-", "_").toUpperCase() )
## map the client module name to the client class name and pacakge name
#if( $httpClient == 'url-connection-client')
    #set ($httpClientClassName = 'UrlConnectionHttpClient')
    #set ($httpClientPackageName = 'urlconnection.' + $httpClientClassName)
    #set ($serviceClientClassName = $serviceClientPrefix + 'Client')
#elseif ( $httpClient == 'apache-client')
    #set ($httpClientClassName = 'ApacheHttpClient')
    #set ($httpClientPackageName = 'apache.' + $httpClientClassName)
    #set ($serviceClientClassName = $serviceClientPrefix + 'Client')
#elseif ( $httpClient == 'netty-nio-client')
    #set ($httpClientClassName = 'NettyNioAsyncHttpClient')
    #set ($httpClientPackageName = 'nio.netty.' + $httpClientClassName)
    #set ($serviceClientClassName = $serviceClientPrefix + 'AsyncClient')
#end
